.icon_lists {
    color: #333;
}

.icon_lists .icon {
    position:relative;
    min-width: 1em;
    font-size: 30px;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}

@font-face {
    font-family: "usercenter";
    src: url('//w.tianbaoweipai.com/static/font/usercenter05.eot?t=1484042365503'); /* IE9*/
    src: url('//w.tianbaoweipai.com/static/font/usercenter05.eot?t=1484042365503#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//w.tianbaoweipai.com/static/font/usercenter05.woff?t=1484042365503') format('woff'), /* chrome, firefox */ url('//w.tianbaoweipai.com/static/font/usercenter05.ttf?t=1484042365503') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('//w.tianbaoweipai.com/static/font/usercenter05.svg?t=1484042365503#usercenter') format('svg'); /* iOS 4.1- */
}


.iconfont {
    font-family: "usercenter";
    font-size: 32px;
    color: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tianbaoweipai{
    font-family: "usercenter" !important;
    min-width: 1em;
    color: inherit;
    font-size: inherit;
    font-style: normal;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*图标大小比例*/
.fi-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.fi-stack-0x6,
.fi-stack-0x8,
.fi-stack-1x,
.fi-stack-1x2,
.fi-stack-1x5,
.fi-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
    line-height: inherit;
}

.fi-stack-0x6 {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform-origin: center;
    -webkit-transform-origin: center;
}

.fi-stack-0x8 {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform-origin: center;
    -webkit-transform-origin: center;
}

.fi-stack-1x2 {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform-origin: center;
    -webkit-transform-origin: center;
}

.fi-stack-1x5 {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform-origin: center;
    -webkit-transform-origin: center;
}

.fi-stack-1x {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform-origin: center;
    -webkit-transform-origin: center;
}

.fi-stack-2x {
    font-size: 2em;
}

.icon-shijian:before {
    content: "\e67c";
}

.icon-help:before {
    content: "\e612";
}

.icon-mail:before {
    content: "\e630";
}

.icon-xinglieicon:before {
    content: "\e616";
}
.icon-shengji:before{
    content: "\e61d";
}
.icon-shimingrenzheng:before{
    font-size:22px;
    content: "\e6a6";
}
.icon-daishouhuo:before {
    content: "\e65f";
}

#user_sellindex .icon-shouhou:before {
    content: "\e60b";
}

#user_sellindex .icon-shouhuodizhi:before {
    content: "\e610";
}

#user_sellindex .icon-gr2:before {
    content: "\e611";
}

#user_sellindex .icon-60:before {
    content: "\e63c";
}

#user_sellindex .icon-shouhou1:before {
    content: "\e68e";
}

#user_sellindex .icon-weipingjia:before {
    content: "\e623";
}

#user_sellindex .icon-xiaoxizhongxin:before {
    content: "\e6f9";
}

#user_sellindex .icon-yue:before {
    content: "\e65e";
}

#user_sellindex .icon-guanzhu:before {
    content: "\e617";
}

#user_sellindex .icon-daishouhuo1:before {
    content: "\e686";
}

#user_sellindex .icon-me:before {
    content: "\e606";
}

#user_sellindex .icon-icon:before {
    content: "\e607";
}

#user_sellindex .icon-compass:before {
    content: "\e608";
}

#user_sellindex .icon-unpaid:before {
    content: "\e6d1";
}

#user_sellindex .icon-daifahuo:before {
    content: "\e629";
}
#user_sellindex .icon-shangjiantou1.fi-size{
    font-size:16px;
}
#user_sellindex .fi-size{
    font-size:16px !important;
}
#user_sellindex .icon-shangjiantou1:before {
    content: "\e603";
}

#user_sellindex .icon-shaibaobei:before {
    content: "\e613";
}

#user_sellindex .icon-weiguan:before {
    content: "\e63d";
}

#user_sellindex .icon-mingrentang:before {
    content: "\e6dd";
}

#user_sellindex .icon-icon1:before {
    content: "\e600";
}

#user_sellindex .icon-wodebeibeiwodeqianbao:before {
    content: "\e64d";
}

#user_sellindex .icon-canpai:before {
    content: "\e697";
}

#user_sellindex .icon-fangkuang:before {
    content: "\e758";
}

#user_sellindex .icon-weishoudaohuo:before {
    content: "\e61d";
}

#user_sellindex .icon-shouhou2:before {
    content: "\e63f";
}

#user_sellindex .icon-pinpaidaiyan:before {
    content: "\e618";
}

#user_sellindex .icon-wangluo:before {
    content: "\e619";
}

#user_sellindex .icon-yunyingguanli:before {
    content: "\e61a";
}

#user_sellindex .icon-faxian:before {
    content: "\e60d";
}

#user_sellindex .icon-zhanshi:before {
    content: "\e645";
}

#user_sellindex .icon-zhaoxiangji:before {
    content: "\e614";
}

#user_sellindex .icon-wodebaobeiye_genghuan:before {
    content: "\e650";
}

#user_sellindex .icon-shangpinguanli:before {
    content: "\e635";
}

#user_sellindex .icon-jingqingqidaiicon:before {
    content: "\e602";
}

#user_sellindex .icon-iconfontzhizuobiaozhunBduan-:before {
    content: "\e6fd";
}

#user_sellindex .icon-zhaoxiangji1:before {
    content: "\e6d4";
}

#user_sellindex .icon-weipingjia1:before {
    content: "\e640";
}
#user_sellindex .icon-weixinyaoyiyao:before { content: "\e601"; }


.border:after{
    position: absolute;
    content: '';
    background-color: #D9D9D9;
}
.border.horizonBottom:after{
    width:100%;
    height:1px;

}
.border.horizonBottom:after{
    left:0;
    bottom:0;

}